target/*
project/target/*
project/project/target/*
project/project/project/target/*
.deepwit-docs-root/target/*
.bsp
.bloop
.vscode
.metals
**/metals.sbt
data
playground
*.log   
project/project/**
*.pyc
ide-*.json
*.bak
.envrc

examples/target/*
core/target/*
.deepwit-docs-root/target