target/*
project/target/*
project/project/target/*
project/project/project/target/*
.dimwit-docs/target/*
.bsp
.bloop
.vscode
.metals
**/metals.sbt
data
playground
*.log   
project/project/**
*.pyc
ide-*.json
*.bak
.envrc

examples/target/*
core/target/*
pyproject.toml
uv.lock
.dimwit-docs-root